.FlexContainer {
    width: 100%;
    display: flex;
}

.LeftFlex {
    justify-content: flex-start;
}

.RightFlex {
    justify-content: flex-end;
}

.MessageBox {
    margin-top: 10px;
    padding: 10px;
    background: #f3faff;
    width: 70%;
    border: 1px solid #878aa9;
    border-radius: 5px;
}